.about-me-page{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.about-me-page .main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    color: var(--body-font-color);
    position: relative;
    margin-top: 5rem;
}
.about-me-page .main .left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 80%;
    margin-right: 0.5rem;
}
.about-me-page .main .left-section img{
    width: 50%;
    max-width: 400px;
    background-color: var(--pfp-background-color);
    border-radius: 100%;
    margin-bottom: 1rem;
}
.about-me-page .main  h1, .about-me-page .main h2{
    color: var(--clr-light-green);
    font-size: 2rem;
    text-transform: uppercase;
}
.about-me-page .main h2{
    font-size: 1.4rem;
    margin-top: 1.5rem;
}
.about-me-page .main .right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    max-width: 70%;
}
.about-me-page .main .right-section p,
.about-me-page .main .right-section ul,
.about-me-page .main .right-section h1{
    margin-top: 1.5rem;
    list-style-position: inside;
}
.about-me-page .navbar .right-section ul li:nth-child(2){
    background-color: var(--clr-light-green);
}
.about-me-page .navbar .right-section ul li:nth-child(2) a{
    color: black;
}
@media (max-width: 900px) {
    .about-me-page .main .right-section{
        max-width: 90%;
    }
}
@media (max-width: 725px) {
    .about-me-page .main{
        display: flex;
        flex-direction: column;
        padding: 4rem;
        overflow-y: scroll;
    }
    .about-me-page .main .right-section{
        max-width: 100%;
    }
    .about-me-page .main h2{
        margin-top: 1.5rem;
    }
}
@media (max-width: 405px) {
    .about-me-page .main  h1{
        font-size: 1.5rem;
    }
    .about-me-page .main{
        padding: 1.5rem;
    }
}