.error-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.error-page a{
    color: var(--body-font-color);
}
.error-page a:visited{
    color: var(--body-font-color);
}
.error-page .main{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
    color: var(--body-font-color);
    position: relative;
    margin-top: 5rem;
}
.error-page .main .left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 80%;
    margin-right: 0.5rem;
}
.error-page .main .left-section img{
    width: 50%;
    max-width: 400px;
    background-color: var(--pfp-background-color);
    border-radius: 100%;
    margin-bottom: 1rem;
}
.error-page .main  h1, .error-page .main h2{
    color: var(--clr-light-green);
    font-size: 2rem;
    text-transform: uppercase;
}
.error-page .main .right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    font-size: 1.2rem;
}
.error-page .main .right-section p,
.error-page .main .right-section ul,
.error-page .main .right-section h1{
    margin-top: 1.5rem;
    list-style-position: inside;
    list-style-type: none;
}
.error-page .main .right-section ul li{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    text-decoration: underline;
}
.error-page .main .right-section ul img{
    margin-right: 0.5rem;;
}
@media (max-width: 1000px) {
    .error-page .main{
        display: flex;
        flex-direction: column;
        padding: 6rem 2rem;
        overflow-y: scroll;
    }
    .error-page .main .right-section{
        margin-top: 2rem;
    }
    .error-page .main .left-section{
        height: auto;
    }
}
@media (max-width: 405px) {
    .error-page .main  h1, .error-page .main  h2{
        font-size: 1.5rem;
    }
}
@media (max-width: 343px) {
    .error-page .main .right-section li{
        font-size: 1.1rem;
    }
    .error-page .main{
        padding: 6rem 1rem;
    }
}