.project-view{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.project-view .left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.project-view .left-section img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 450px;
}
.project-view .right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.project-view .project-description{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}
.project-view .project-description .project-title{
    color: var(--clr-light-green);
    margin-bottom: 1rem;
}
.project-view .project-description .project-tags{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-view .project-description .project-tags p{
    border: 1px solid var(--body-font-color);
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 50px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.project-view .project-description a{
    align-self: flex-end;
}
.project-view .project-description button, .project-view .project-description a:visited{
    color: black;
}

@media (max-width: 1533px){
    .project-view .project-description{
        max-width: 75%;
    }
}
 @media (max-width: 1028px){
    .project-view .project-description{
        max-width: 80%;
    }
}
@media (max-width: 1014px){
    .project-view{
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        justify-content: center;
    }
    .project-view .left-section, .project-view .right-section{
        width: 100%;
        height: 50%;
    }
    .project-view .right-section{
        margin-top: 3rem;
        justify-content: start;
        position: relative;
    }
    .project-view .project-description{
        max-width: 50%;
        display: flex;
        justify-content: start;
    }
    .project-view .project-description .project-tags{
        margin-top: 3rem;
    }
    .project-view .left-section img{
        object-fit: contain;
        max-width: 400px;
    }
}
@media (max-width: 623px){
    .project-view .project-description{
        max-width: 65%;
    }
}
@media (max-width: 485px){
    .project-view .project-description{
        max-width: 100%;
    }
}
@media (max-width: 324px){
    .project-view .project-description .project-title{
        font-size: 1.5rem;
    }
}